.vscode/
logs/
aeb_custom/
aeb_whdload_games_aga/
aeb_whdload_games_ocs/
aeb_whdload_demos_aga/
aeb_whdload_demos_ocs/
aeb_whdload_packs/
demos_music/
games_music/
whdownload_games/**/
whdload_installs/**/
whdload_games_aga/
whdload_games_ocs/
whdload_packs/
menus/